<!DOCTYPE html>
<html>
<head>
    <style>
        body, *{
            font-size:16px;
        }
        
        .button {
            display:block;
            color:#fff;
            background:#0a0;
            border-radius:.1em;
            height:3em;
            line-height:3em;
            margin:.5em 0;
            padding:0 1em;
            cursor:pointer;
        }
        input{
            border-radius:.2em;
            padding:.5em;
            border:1px solid #ccc;
        }
    </style>
</head>
<body>
    <input type="text" id=nameText placeholder="Your Name" />
    <a class="button" id="saveNameButton">Save</a>
    <script src="../assets/options.js"></script>
</body>