<!DOCTYPE html>
  <html>
    <head>
      <style>
        html{
            width:400px;
            height:200px;
        }
        button {
          outline: none;
          background: #0a0;
          color:#fff;
          border:1px solid #090;
          border-radius:.1em;
          height:3em;
          line-height:3em;
          margin:.5em 0;
          padding:0 1em;
        }
      </style>
    </head>
    <body>
      <button id="SetDeploying">Set Status to Deploying</button>
    </body>
    <script type="text/javascript" src="assets/connect.js"></script>
    <script type="text/javascript" src="assets/app.js"></script>
  </html>